<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a routerLink="/admin/style-guide">Create style guide</a>
  <a routerLink="/admin/style-guide-config">Config style guide</a>
  <a routerLink="/admin/button">Button</a>
  <a routerLink="/admin/tabs">Tabs</a>
  <a routerLink="/admin/forms">Forms</a>
  <a routerLink="/admin/badge">Badge</a>
  <a routerLink="/admin/alerts">Alert</a>
  <a routerLink="/admin/card">Card</a>
  <a routerLink="/admin/jumbotron">jumbotron</a>
  <a routerLink="/admin/modal">modal</a>
  <a routerLink="/admin/navbar">navbar</a>
  <a routerLink="/admin/pagination">pagination</a>
  <a routerLink="/admin/pills">pills</a>
  <a routerLink="/admin/popover">popover</a>
  <a routerLink="/admin/progressbar">progressbar</a>
  <a routerLink="/admin/table">tables</a>
  <a routerLink="/admin/tooltip">tooltip</a>
  <a routerLink="/admin/typography">typography</a>
</div>
