<app-user-header></app-user-header>
<div class="col-12 pt-5 bg-light" style="min-height: calc(100vh - 100px)">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <a class="list-group-item list-group-item-action" [routerLink]="['/profile', userId]">Profile</a>
                <a class="list-group-item list-group-item-action active" href="JavaScript:void(0);">Style sheets</a>
                <a class="list-group-item list-group-item-action" href="JavaScript:void(0);"
                   (click)="logout()">Logout</a>
            </ul>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h3>My style sheets</h3>
                    <div class="col-12 pt-3">
                        <div class="row">
                          <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CREATED AT</th>
                                    <th>ACTIONS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let sg of SGs">
                                    <td>{{sg?._id}}</td>
                                    <td>{{sg?.createdAt}}</td>
                                  <td>
                                    <div class="dropdown dropleft">
                                      <div class="" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-h fa-2x"></i>
                                      </div>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" (click)="download(sg?._id)">Download</a>
                                        <a class="dropdown-item">Delete</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
