<div class="col-12">
    <div class="">
        <ul class="list-group col-4">
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        name
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.name}}</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        active
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.active}}</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        Primary color
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.primaryColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.primaryColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        Secondary color
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.secondaryColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.secondaryColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        successColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.successColorsuccessColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.successColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        infoColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.infoColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.infoColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        warningColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.warningColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.warningColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        dangerColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.dangerColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.dangerColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        darkColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.darkColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.darkColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        lightColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.lightColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.lightColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        primaryGradientColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.primaryGradientColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.primaryGradientColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        secondaryGradientColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.secondaryGradientColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.secondaryGradientColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        successGradientColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.successGradientColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.successGradientColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        infoGradientColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.infoGradientColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.infoGradientColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        warningGradientColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.warningGradientColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.warningGradientColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        dangerGradientColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.dangerGradientColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.dangerGradientColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        darkGradientColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.darkGradientColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.darkGradientColor}"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="">
                        lightGradientColor
                    </div>
                    <div class="d-flex" >
                        <div class="mr-1">{{config?.lightGradientColor}}</div>
                        <div class="color" [ngStyle]="{'background-color' : config?.lightGradientColor}"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
