<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
<!--  <span style="font-size:25px;cursor:pointer;color: white">&#9776;</span>-->
  <a class="navbar-brand text-white pl-3" routerLink='/'>Elastic Style</a>
  <ul class="navbar-nav w-100 d-flex justify-content-end">
      <li class="nav-item active">
        <a *ngIf="!user" class="nav-link" routerLink="/login">Login</a>
        <a *ngIf="user" class="nav-link" routerLink="/profile">{{user?.userName}}</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Link</a>
      </li> -->
    </ul>
  </nav>
