<div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-12">
            <div class="row">
                <div class="form-group col-4">
                    <label>name</label>
                    <input type="text" class="form-control" formControlName="name"/>
                </div>
                <div class="form-group col-4">
                    <label>primary Color</label>
                    <input type="text" class="form-control" formControlName="primaryColor"/>
                </div>
                <div class="form-group col-4">
                    <label>secondary Color</label>
                    <input type="text" class="form-control" formControlName="secondaryColor"/>
                </div>
                <div class="form-group col-4">
                    <label>success Color</label>
                    <input type="text" class="form-control" formControlName="successColor"/>
                </div>
                <div class="form-group col-4">
                    <label>info Color</label>
                    <input type="text" class="form-control" formControlName="infoColor"/>
                </div>
                <div class="form-group col-4">
                    <label>warning Color</label>
                    <input type="text" class="form-control" formControlName="warningColor"/>
                </div>
                <div class="form-group col-4">
                    <label>danger Color</label>
                    <input type="text" class="form-control" formControlName="dangerColor"/>
                </div>
                <div class="form-group col-4">
                    <label>dark Color</label>
                    <input type="text" class="form-control" formControlName="darkColor"/>
                </div>
                <div class="form-group col-4">
                    <label>light Color</label>
                    <input type="text" class="form-control" formControlName="lightColor"/>
                </div>
                <div class="form-group col-4">
                    <label>primary Gradient Color</label>
                    <input type="text" class="form-control" formControlName="primaryGradientColor"/>
                </div>
                <div class="form-group col-4">
                    <label>secondary Gradient Color</label>
                    <input type="text" class="form-control" formControlName="secondaryGradientColor"/>
                </div>
                <div class="form-group col-4">
                    <label>success Gradient Color</label>
                    <input type="text" class="form-control" formControlName="successGradientColor"/>
                </div>
                <div class="form-group col-4">
                    <label>info Gradient Color</label>
                    <input type="text" class="form-control" formControlName="infoGradientColor"/>
                </div>
                <div class="form-group col-4">
                    <label>warning Gradient Color</label>
                    <input type="text" class="form-control" formControlName="warningGradientColor"/>
                </div>
                <div class="form-group col-4">
                    <label>darkGradientColor</label>
                    <input type="text" class="form-control" formControlName="darkGradientColor"/>
                </div>
                <div class="form-group col-4">
                    <label>danger Gradient Color</label>
                    <input type="text" class="form-control" formControlName="dangerGradientColor"/>
                </div>
                <div class="form-group col-4">
                    <label>light Gradient Color</label>
                    <input type="text" class="form-control" formControlName="lightGradientColor"/>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </form>
</div>
